<extend name="Public:base" />

<block name="body">
	<form action="{:U('regFieldHandle')}" method="POST" role="form">
		<legend>Form title</legend>
	
		<div class="form-group">
			<label for="">field_name</label>
			<input type="text" name="field_name" value="{$field.field_name}" class="form-control" id="" placeholder="Input field">
		</div>
	
		<div class="form-group">
			<label for="">field_title</label>
			<input type="text" name="field_title" value="{$field.field_title}" class="form-control" id="" placeholder="Input field">
		</div>
	
		<strong>field_values</strong> 
		<textarea name="field_values" class="form-control" rows="3" >{$field.field_values}</textarea>
	
		<div class="checkbox">
			<label>
				<eq name="field.enabled" value="1">
					<input type="checkbox" name="enabled" checked>
					<else/>
					<input type="checkbox" name="enabled">
				</eq>
				启用
			</label>
		</div>
		
		<div class="radio">
			<label>
			<eq name="field.type" value="1">
				<input type="radio" name="type" id="input" value="1" checked="checked">
				<else/>
				<input type="radio" name="type" id="input" value="1">
		  </eq>
				1
			</label>
			<label>
				<eq name="field.type" value="2">
				<input type="radio" name="type" id="input" value="2" checked="checked">
				<else/>
				<input type="radio" name="type" id="input" value="2">
		  </eq>
				2
			</label>
			<label>
				<eq name="field.type" value="3">
				<input type="radio" name="type" id="input" value="3" checked="checked">
				<else/>
				<input type="radio" name="type" id="input" value="3">
		  </eq>
				3
			</label>
		</switch>
		</div>

		<input type="hidden" name="id" value="{$field.id}">
		<input type="hidden" name="act_type" value="{$act_type}">
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</block>