<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css">
</head>
<body>
	<nav class="navbar navbar-default navbar-static-top navbar-inverse" role="navigation">
		<div class="container">
			<a class="navbar-brand" href="#">Title</a>
			<ul class="nav navbar-nav">
				<li class="active">
					<a href="{:U('regFields')}">注册字段</a>
				</li>
				<li>
					<a href="#">Link</a>
				</li>
			</ul>
		</div>
	</nav>
	<div class="container">
		<block name="body">
			Hi~
		</block>
	</div>
	<script src="__PUBLIC__/js/jquery-1.10.2.min.js"></script>
	<script src="__PUBLIC__/js/bootstrap.min.js"></script>
</body>
</html>