ul,li {
	list-style: none;
}
.bold {
	font-weight: bold;
}
.mt30 {
	margin-top: 30px;
}
.mt20 {
	margin-top: 20px;
}
.sidebar-navs {
	padding: 10px 0;
	background: #535556;
}
.sidebar-navs ul, .sidebar-navs li {
	list-style:none;
	margin: 0;
	padding: 0;
}
.sidebar-navs a {
	display: block;
	color: #f5f5f5;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
}
.sort-panel a {
	float: right;
	margin-left: 5px;
}
.prev, .num, .current, .next {
	position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.current {
	 z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}
.sort-box {
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: 1px dashed #ccc;
}
.sort-pills span {
	display: block;
	position: relative;
	padding: 10px 15px;
}
.sort-pills span.active  {
	background: transparent !important;
	color: #f00 !important;
	font-weight: bold;
}

.remark-box {
	padding:50px;
}
.remark-box > form {
	padding: 10px;
	background: #f5f5f5;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, .6);
}
#good-info ul {
	padding: 0;
}
#good-info .good-name {
	font-size: 22px;
}
#good-info li {
	padding: 6px 0;
}
#good-info .right-good ul {
	padding-top: 45px;
}
#good-info .right-good li {
	padding: 4px 0;
}