<!DOCTYPE html>
<html lang="zh_cn">
<head>
	<meta charset="UTF-8">
	<title><block name="title">Document</block></title>
	<link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css">
</head>
<body>
	{:W('Cate/navs')}

	<div class="container" style="margin-top:61px;">
		<div class="row">
			<div class="col-md-2">
				<block name="sidebar">
					{:W('Cate/sidebar', array('hehe'))}
			  </block>
			</div>
			<div class="col-md-10">
				<block name="body">
					<h1 class="text-danger">Hi~</h1>
			  </block>
			</div>
		</div>
	</div>
	<script src="__PUBLIC__/js/jquery-1.10.2.min.js"></script>
	<script src="__PUBLIC__/js/bootstrap.min.js"></script>
	<block name="script"></block>
</body>
</html>