<!DOCTYPE html>
<html lang="zh_cn">
<head>
	<meta charset="UTF-8">
	<title><block name="title">Document</block></title>
	<link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css">
	<style type="text/css">
		body { padding-top: 70px; }
	</style>
	<block name="style">
	</block>
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
		<div class="container">
			<a class="navbar-brand" href="{:U('Home/Index/index')}">LOGO</a>
			<ul class="nav navbar-nav">
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<if condition="is_login()">
		        	<li><a href="javascript:void(0);">欢迎回来, {$Think.session.user_auth.username}</a></li>
		        	<li><a href="{:U('Index/logout')}">退出</a></li>
		        <else/>
		        	<li><a href="{:U('User/login')}">登陆</a></li>
		        </if>
		        <li><a href="{:U('Flow/cart',array('id'=>$_SESSION['user_auth']['uid']))}">购物车</a></li>
		     </ul>
		</div>
	</nav>

	<div class="container">
		<div class="row">
			<div class="col-md-9  col-md-offset-3">
				<ul class="nav nav-pills  pull-right">
				  <li role="presentation" class="active"><a href="{:U('Home/Index/index')}">Home</a></li>
				  <volist name="navs" id="nav">
						<li><a href="{$nav.nav_url}" 
							<eq name="nav.open_new" value="1">target="_blank"</eq>>
							{$nav.nav_name}</a></li>
					</volist>
				  <li role="presentation" class="form-group">
				  	<div class="col-sm-10" style="padding-right:0px;">
				  		<input type="text" name="search" id="input" class="form-control" value="" required="required" placeholder="搜搜看看">
				  	</div>		
				  	<div class="col-sm-2">
				  		<button type="button" class="btn btn-info">button</button>
				  	</div>
				  </li>
				</ul>
			</div>
		</div>	
		
	</div>
	

	<div class="container">
		<block name="body">

			<h1 class="text-danger">Hi~</h1>
		</block>
	</div>
	<script src="__PUBLIC__/js/jquery-1.10.2.min.js"></script>
	<script src="__PUBLIC__/js/bootstrap.min.js"></script>
	<block name="script"></block>
</body>
</html>