<extend name="Public:base" />
<block name="style">
	<link rel="stylesheet" href="__PUBLIC__/css/index.css">
	<style>
		table, table th {
			text-align: center;
		}
	</style>
</block>
<block name='body'>
	<div class="row mt20">
		<div class="col-md-12">
			<table class="table table-bordered">
				<tr>
					<th>商品名称</th>
					<th>属性</th>
					<th>市场价</th>
					<th>本店价</th>
					<th>购买数量</th>
					<th>小计</th>
					<th>操作</th>
				</tr>
				<foreach name="cart_items" item="cart_item">
					<tr>
						<td>{$cart_item.good_name}</td>
						<td>{$cart_item.good_attr}</td>
						<td>{$cart_item.market_price}</td>
						<td>{$cart_item.good_price}</td>
						<td><input type="text" name="good_number" value="{$cart_item.good_number}"></td>
						<td>{$cart_item.total}</td>
						<td><button class="btn btn-danger btn-sm">删除</button></td>
					</tr>
			 </foreach>
				<tr>
					<td colspan="2">
						<if condition="$your_discount">{$your_discount}<br></if>
						{$saving_mark}
					</td>
					<td colspan="5">
						<button class="btn btn-danger">清空购物车</button>
						<button class="btn btn-info">更新购物车</button>
						<button class="btn btn-primary">去结算</button>
					</td>
				</tr>
			</table>
			<table class="table table-bordered table-striped">
				 <tr>
				 	<th colspan="2">配件</th>
				 </tr>
				 <foreach name="group_goods" item="g_good">
					 <tr>
					 	<td>{$g_good.good_name}</td>
					 	<td>￥{$g_good.min_price}元<br><button id="fillcart" class="btn btn-primary btn-xs" onclick="addToCart({$g_good.parent_id}, {$g_good.good_id}, 1)">加入购入车</button></td>
					 </tr>
				</foreach>
			</table>
			
			<foreach name="favors" item="favor">
				<table class="table table-bordered table-striped">
					 <tr>
					 	<th colspan="2">{$favor.act_name}</th>
					 </tr>
					 <tr>
					 	<td>活动范围</td>
					 	<td>
					 		<php>
					 			echo $range_text[$favor['act_range']];
					 		</php>
					 		<br>{$favor.range_desc}
					 	</td>
					 </tr>
					 <tr>
					 	<td>活动时间</td>
					 	<td>{$favor.act_start_time} -- {$favor.act_end_time}</td>
					 </tr>
					 <tr>
					 	<td>参与活动金额</td>
					 	<td>
					 		<if condition="$favor.act_max_amount eq 0">
					 			大于 {$favor.min_amount_formatted}
					 		<else/>
					 	 	{$favor.min_amount_formatted} -- {$favor.max_amount_formatted}</td>
					 		</if>
					 </tr>
					 <tr>
					 	<td>活动描述</td>
					 	<td>{$favor.description}</td>
					 </tr>
					 <if condition="$favor.available">
					 	<button>添加购物车</button>
					 </if>
				</table>
			</foreach>
		</div>
	</div>
</block>
<block name="script">
	<script>
		 $(function(){
		 	 	$('#fillcart').click(function(){
						var url = "{:U('Flow/addToCart')}";

		 	 	});
		 });

		function addToCart(parent_id, good_id, num)
		{
			var url = "{:U('Flow/addToCart')}";
			var data = {};
			data.id = good_id;
			data.parent_id = parent_id;
			data.num = num;
			data.specs = [];
			$.post(url, data, addToCartResponse);
		}

		function addToCartResponse(reponse)
		{
			if(reponse.error.length > 0)
			{
				alert(reponse.error);
			}	
			else
			{
				var url = "{:U('Flow/cart')}";
				location.href= url;
			}
		}
	</script>
</block>

