<extend name="Public:base" />

<block name="body">
	<div class="row">
		<div class="col-md-10">
					<form method="POST" role="form">
				<legend>用户登录</legend>
				
				<div class="form-group">
					<label for="">用户名</label>
					<input type="text" name="username" class="form-control">
				</div>
			
				<div class="form-group">
					<label for="">密码</label>
					<input type="text" name="password" class="form-control">
				</div>

				<div class="checkbox">
					<label>
						<input type="checkbox" name="remember">
						记住我
					</label>
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
			  <div>(找回密码) <a href="">密码问题</a> <a href="">短信</a> <a href="">验证</a></div>
			</form>
		</div>
		<div class="col-md-2" style="padding-top:250px;">
				<a href="{:U('register')}" class="btn btn-info">立即注册</a>
		</div>
	</div>
	
</block>