<extend name="public:base" />

<block name="body">

	<form method="POST" name="theform" action="{:U('catHandle')}" role="form">

			 <legend>{$form_header} 分类</legend>
							
					<div class="form-group">
						<label for="">分类名</label>
						<input type="text" class="form-control" name="cat_name" value="{$cat.cat_name}">
					</div>

					<div class="form-group">
						<label for="">上级分类</label>
						<select name="pid" id="" class="form-control">
							<option value="0">--请选择--</option>
							{$pcat}
						</select>
					</div>

					
					<div class="form-group">
						<label for="">筛选属性</label>
							<if condition="$attr_cat_id eq 0">
								<div class="row">
									<div class="col-md-5">
										<select name="" id="" onchange="changeCat(this)" class="form-control">
											<option>--请选择分类--</option>
											{$type_list}
										</select>[+]
									</div>
									<div class="col-md-5">
										<select name="attr_id[]" id="" class="form-control">
											<option value="">--请选择筛选属性--</option>
										</select>
									</div>
								</div>
							</if>
								<foreach name="filter_attr_list" item="filter_item">
									<div class="row">
										<div class="col-md-5">
											<select name="" id="" onchange="changeCat(this)" class="form-control">
												<option>--请选择分类--</option>
												{$filter_item.type_list}
											</select>
										</div>
										<div class="col-md-5">
											<select name="attr_id[]" id="" class="form-control">
												<option>--请选择筛选属性--</option>
												<php>$options = $filter_item['option'];</php>
												<foreach name="options" item="option" key="opt_key">
													<option value="{$opt_key}" <eq name="filter_item.filter_attr" value="$opt_key">selected</eq>>{$option}</option>
												</foreach>
											</select>
										</div>
									</div>
								</foreach>
					</div>

					
					<div class="form-group">
						<label for="">排序</label>
						<input type="text" class="form-control" name="view_order" value="{$cat.view_order}">
					</div>

					<div class="radio">
						<label>
							<input type="radio" name="if_show" value="1" <eq name="cat.if_show" value="1">checked</eq>>
							显示
						</label>
						<label>
								<input type="radio" name="if_show" value="0" <eq name="cat.if_show" value="0">checked</eq>>
							隐藏
						</label>
					</div>
					
																	
		<input type="hidden" name="id" value="{$cat.id}">
		<input type="hidden" name="act" value="{$act}">
		<input type="hidden" name="old_cat_name" value="{$cat.old_cat_name}">
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</block>
<block name="script">
	<script>
	
		var arr = [];
		 <foreach name="attrs" item="attr" key="attr_key">
		 	  arr[{$attr_key}] = [];
			 <foreach name="attr" item="att" key="att_key">
				 <foreach name="att" item="at" key="at_key">
				 	 arr[{$attr_key}][{$att_key}] = [{$at_key}, '{$at}'];
				 </foreach>
			 </foreach>
		 </foreach>

		 function changeCat(obj)
		 {
		 	var val = obj.value;
			var $sel = $(obj).parent().next().find('.form-control');
			var data = arr[val];
			$sel.html('<option>--请选择筛选属性--</option>');		 	
		 	for(var i=0, len = data.length; i< len;i++) {
				$('<option value="'+data[i][0]+'">'+data[i][1]+'</option>').appendTo($sel);		 		
		 	}
		 }

	</script>
	
</block>