<extend name="public:base" />

<block name="body">
		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>ID</th>
						<th>NAME</th>
						<th>deleted</th>
					</tr>
				</thead>
				<tbody>
					<volist name="goods" id="good">
						<tr>
							<td>{$good.id}</td>
							<td>
								<a href="{:U('Good/addGood', array('good_id'=>$good['id'], 'act'=>'update'))}">{$good.good_name}</a>
						  </td>
						  <td>{$good.deleted}</td>
						</tr>
				  </volist>
				</tbody>
			</table>
		</div>
</block>