<extend name="public:base" />
<block name="sidebar">
{:W('Cate/sidebar', array(2))}
</block>
<block name="body">
	<div class="table-responsive">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>ID</th>
					<th>名称</th>
					<th>属性数量</th>
				</tr>
			</thead>
			<tbody>
				<volist name="types" id="tpe">
					<tr>
						<td>{$tpe.id}</td>
						<td>{$tpe.type_name}</td>
						<td>{$tpe.num}</td>
					</tr>
			</volist>
			</tbody>
		</table>
	</div>
</block>

<input type="hidden" name="attr_id_list[]" value="">
<input type="text" name="attr_value_list[]">
