<extend name="Public:base" />
<block name="style">
	<link rel="stylesheet" href="__PUBLIC__/css/index.css">
</block>
<block name="body">
	<form action="javascript:;" id="good-info">
		<div class="row">
			<div class="col-md-5">
				<img src="__PUBLIC__/img/iphone.jpg" class="img-responsive" alt="">
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-6">
						<ul>
							<li class="good-name">
								{$good.good_name_style}
							</li>
							<li>商品货号：{$good.good_sn}</li>
							<if condition="$good['brand_name']">
								<li>商品品牌：{$good.brand_name}</li>
						    </if>
							<li>上架时间：{$good.add_time|date="Y-m-d",###}</li>
							<li>市场价格：<strike class="text-muted">{$good.market_price}</strike></li>
							<foreach name="rank_prices" item="r_price" key="r_name">
							<li>{$r_name}：<span class="text-danger bold">{$r_price.rank_price}</span></li>
							</foreach>

							<li>购买数量：<input type="text" name="good_num" value="1" onblur="getActualPrice()"></li>
						</ul>
					</div>
					<div class="col-md-6 right-good">
						<ul>
							<if condition="$good['number'] gt 0">
								<li>商品库存： {$good['number']} {$good['unit']}</li>
							<else/>
								<li>商品库存： <span class="text-danger">缺貨</span></li>
							</if>
							<li>商品重量：0克</li>
							<li class="mt20">本店售价：<span class="text-danger bold">{$good.shop_price}</span></li>
							<li>商品总价：<span class="text-danger bold" id="AMOUNT"></span></li>
							<if condition="$good['give_integral'] gt 0">
								<li>购买此商品赠送：{$good.give_integral} 积分</li>
							</if>
							<li>购买此商品可使用：9600 积分</li>
						</ul>
					</div>
					<if condition="$volume_prices">

						<div class="col-md-12">
							<div class="table-responsive">
								<table class="table table-hover table-bordered">
									<thead>
										<tr>
											<th>数量</th>
											<th>优惠价格</th>
										</tr>
									</thead>
									<tbody>
										<foreach name="volume_prices" item="v_price">
											<tr>
												<td>{$v_price.volume_number}</td>
												<td>{$v_price.volume_price}</td>
											</tr>
										</foreach>
									</tbody>
								</table>
							</div>
						</div>
					</if>
						<foreach name="specification" item="specific" key="attr_id">
						<div class="col-md-12" style="padding-top:10px;border-top:1px solid #ccc;">
							<strong>{$specific.name}</strong>
								<foreach name="specific.values" item="spec">
										<if condition="$specific['type'] eq 3">
												<div class="checkbox">
													<label>
														<input type="checkbox" name="spec_{$attr_id}" onclick="getActualPrice()" value="{$spec.gid}">
														{$spec.label} [<if condition="$spec['price'] gt 0">加 <else/>減 </if>{$spec.price|abs}元]
													</label>
												</div>
										<else/>
												<div class="radio">
													<label>
														<input type="radio" name="spec_{$attr_id}" onclick="getActualPrice()" id="input" value="{$spec.gid}">
														{$spec.label} [<if condition="$spec['price'] gt 0">加 <else/>減 </if>{$spec.price|abs}元]
													</label>
												</div>
										</if>
							</foreach>
					 </div>
					</foreach>

					<div class="col-md-12" style="padding-top:10px;border-top:1px solid #ccc;">
					 	  <button class="btn btn-danger" onclick="addToCart()">立刻购买</button>
					 </div>
				</div>
			</div>
		</div>
	</form>

	<div role="tabpanel" style="margin:100px 0;">
		<!-- Nav tabs -->
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active">
				<a href="#home" aria-controls="home" role="tab" data-toggle="tab">商品描述</a>
			</li>
			<li role="presentation">
				<a href="#tab" aria-controls="tab" role="tab" data-toggle="tab">商品属性</a>
			</li>
		</ul>
	
		<!-- Tab panes -->
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="home">aaaaaaaaaaaa.</div>
			<div role="tabpanel" class="tab-pane" id="tab">
				<div class="table-responsive">
					<table class="table table-hover">
						<tbody>
							<foreach name="properties" item="prop" key="grp">
								<tr align="center">
									<td colspan="2">{$grp}</td>
							    </tr>
							    <foreach name="prop" item="prp" key="at_name">
								<tr>
									<td>{$at_name}</td>
									<td>{$prp}</td>
								</tr>
								</foreach>
						   </foreach>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div role="tabpanel" style="margin:100px 0;">
		<!-- Nav tabs -->
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active">
				<a href="#home" aria-controls="home" role="tab" data-toggle="tab">购买记录</a>
			</li>
		</ul>
	
		<!-- Tab panes -->
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="home">还没有人购买过此商品</div>
		</div>
	</div>


	<div role="tabpanel" style="margin:100px 0;">
		<!-- Nav tabs -->
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active">
				<a href="#home" aria-controls="home" role="tab" data-toggle="tab">商品评论</a>
			</li>
		</ul>
	
		<!-- Tab panes -->
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="home">
				<ul class="list-group">
					<if condition="!empty($list)">
						<foreach name="list" item="item">
							<li class="list-group-item">
								 <img src="__PUBLIC__/img/stars{$item.comment_rank}.gif" class="pull-right" alt="image">
									<p><strong>{$item.username|default="匿名用户"}</strong> <span style="color:#999;">({$item.add_time|date="Y-m-d H:i", ###})</span></p>
									<p>{$item.content|htmlspecialchars}</p>
							</li>					
					 </foreach>
					 <else/>
							<li class="list-group-item">
								没有相关评论
							</li>
				 </if>
				 <li class="list-group-item">{$page}</li>
				</ul>
			</div>
		</div>
		
		<div class="remark-box">
				<div class="alert alert-danger alert-comment hidden">					
				</div>					
				<form action="{:U('Comment/addComment')}" name="formComment" method="POST" class="form-horizontal remark-form" role="form">
						<div class="form-group">
							<legend>发表评论</legend>
						</div>
			             
						<div class="form-group">
					    <label for="inputEmail3" class="col-sm-2 control-label">用户名：</label>
					    <div class="col-sm-10">
					    	<span style="position:relative;top:6px;"><if condition="is_login()">{$Think.session.user_auth.username}<else/>匿名用户</if></span>
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="inputPassword3" class="col-sm-2 control-label">E-mail：</label>
					    <div class="col-sm-10">
					      <input type="text" class="form-control" name="email" value="{$email}" id="inputPassword3">
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="inputPassword3" class="col-sm-2 control-label">评价等级：</label>
					    <div class="col-sm-10">
					      <label class="radio-inline">
								  <input type="radio" name="comment_rank" value="1">
								  <img src="__PUBLIC__/img/stars1.gif" alt="">
								</label>
								<label class="radio-inline">
								  <input type="radio" name="comment_rank" value="2">
								  <img src="__PUBLIC__/img/stars2.gif" alt="">

								</label>
								<label class="radio-inline">
								  <input type="radio" name="comment_rank" value="3">
								  <img src="__PUBLIC__/img/stars3.gif" alt="">

								</label>
								<label class="radio-inline">
								  <input type="radio" name="comment_rank" value="4">
								  <img src="__PUBLIC__/img/stars4.gif" alt="">

								</label>
								<label class="radio-inline">
								  <input type="radio" name="comment_rank" value="5" checked>
								  <img src="__PUBLIC__/img/stars5.gif" alt="">
								</label>
					    </div>
					  </div>
						
						<div class="form-group">
					    <label for="inputEmail3" class="col-sm-2 control-label">评论内容：</label>
					    <div class="col-sm-10">
					    		<textarea name="content" id="input" class="form-control" rows="3"></textarea>
					    </div>
					  </div>
						
						<if condition="isset($captcha_on)">
							<div class="form-group">
						    <label for="inputPassword3" class="col-sm-2 control-label">验证码：</label>
						    <div class="col-sm-10">
						      <input type="text"  name="vcode">
									<img style="width:180px;height:100px;cursor:pointer;" id="verify" src="{:U('Index/getVerifyCode', array('id'=>1))}">
						    </div>
						  </div>
					 </if>
					  <div class="form-group">
					    <div class="col-sm-offset-2 col-sm-10">
					      <input type="hidden" name="reply_id" value="{$good.id}">
					      <input type="hidden" name="cmt_type" value="{$cmt_type}">
					      <button type="submit" class="btn btn-primary">提交评论</button>
					    </div>
					  </div>
				</form>
		</div>
	</div>
	
</block>

<block name="script">
	<script>
		$(function(){
			getActualPrice();

			$('#verify').on('click', function(){
				 if(this.src.indexOf('?' > 0)) {
				 	  this.src = this.src.replace(/\?.*/, '') + '?' + Math.random();
				 }else {
				 	  this.src += '?' + Math.random();
				 }
			});

			$('form[name=formComment]').on('submit', function(){
				 var data = {};
				 data.content = this.elements['content'].value;
				 data.comment_rank = this.elements['comment_rank'].value; 
				 data.reply_id = this.elements['reply_id'].value;
				 data.email = this.elements['email'].value;
				 data.comment_type = this.elements['cmt_type'].value;
				 if(this.elements['vcode'] ) {
				 	if(this.elements['vcode'].value !='') {
				 		data.vcode = this.elements['vcode'].value;
				 	}else {
				 		alert('验证码不得为空');
				        return false;
				 	}
				 }
				   
				 if(!/^[a-zA-Z]+[a-zA-Z0-9_]+\@[a-zA-Z]+[a-zA-Z0-9_](\.com|\.cn|\.edu|\.gov)+$/.test(data.email)) {
				 	alert('邮箱错误');
				    return false;
				 }
				 if(data['content'] == '') {
				 	alert('评论内容不得为空!');
				    return false;
				 }
				 $.post($(this).attr('action'), data, comtResponse);
				 return false;
			});

		})
		function comtResponse(response)
		{
			if(response.status == 0) {
				var html = `<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>`;
				for(var i=0, len= response.msg.length;i<len;i++) {
					html += '<strong>'+response.msg[i]+'</strong>';
				}
				$('.alert-comment').removeClass('hidden').addClass('show').html(html);
			}else {
				alert(response.msg);
			}
		}

		function getActualPrice()
		{
			var ids = getSelectedAttribute();
			if(ids.length == 0)
			{
				ids = 0;
			}
			var num = document.querySelector('input[name=good_num]').value ? parseInt(document.querySelector('input[name=good_num]').value) : 1;
			var url = "{:U('Good/getPrice')}".replace(/\.html/i, '') +  "/num/" + num + "/ids/" + ids + "/good_id/" + "{$good_id}";
			$.get(url, getActualPriceResponse);
		}

		function getSelectedAttribute()
		{
			 var frm = document.getElementById('good-info');
			 var arr_ids = []; 
			 for(var i=0, len=frm.elements.length; i< len; i++)
			 {
			 	 var ele = frm.elements[i];
			 	 var name = ele.name.substr(0, 5);
			 	 if(name == 'spec_' && ((ele.type == 'checkbox' || ele.type == 'radio') && ele.checked))
			 	 {
			 	 	 arr_ids.push(ele.value);
			 	 }
			 }
			 return arr_ids;
		}

		function getActualPriceResponse(response)
		{
			if(response.error.length > 0)
			{
				alert(response.error);
			}
			else
			{
				document.getElementById('AMOUNT').innerHTML = response.content;
			}
		}

		function addToCart()
		{
			var frm = document.getElementById('good-info');
			//.replace(/\.html/i, '')
			var url = "{:U('Flow/addToCart')}";
			var data = {};
			data.num = frm.elements['good_num'].value ? parseInt(frm.elements['good_num'].value) : 1;
			data.specs = getSelectedAttribute();
			data.id = "{$good_id}";
			$.post(url, data, addToCartResponse);
		}

		function addToCartResponse(reponse)
		{
			if(reponse.error.length > 0)
			{
				alert(reponse.error);
			}	
			else
			{
				alert('添加成功');
			}
		}
	</script>
</block>

