<extend name="Public:base" />
<block name="style">
	<link rel="stylesheet" href="__PUBLIC__/css/index.css">
</block>
<block name="body">
	<div class="media" style="margin-top:50px;">
		<a class="pull-left" href="#">
			<img class="media-object" src="__PUBLIC__/img/iphone.jpg"  width="400"  alt="Image">
		</a>
		<div class="media-body">
			<h4 class="media-heading">{$good.good_name_style}</h4>
			<p style="font-size:26px;">￥{$good.price} 元</p>

			<ul>
			</ul>

			<button type="button" class="btn btn-info">加入购物车</button>
		</div>
	</div>


	<div role="tabpanel" style="margin:100px 0;">
		<!-- Nav tabs -->
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active">
				<a href="#home" aria-controls="home" role="tab" data-toggle="tab">商品描述</a>
			</li>
			<li role="presentation">
				<a href="#tab" aria-controls="tab" role="tab" data-toggle="tab">商品属性</a>
			</li>
		</ul>
	
		<!-- Tab panes -->
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="home">aaaaaaaaaaaa.</div>
			<div role="tabpanel" class="tab-pane" id="tab">
				<div class="table-responsive">
					<table class="table table-hover">
						<tbody>
							<foreach name="properties" item="prop" key="grp">
								<tr align="center">
									<td colspan="2">{$grp}</td>
							    </tr>
							    <foreach name="prop" item="prp" key="at_name">
								<tr>
									<td>{$at_name}</td>
									<td>{$prp}</td>
								</tr>
								</foreach>
						   </foreach>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div role="tabpanel" style="margin:100px 0;">
		<!-- Nav tabs -->
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active">
				<a href="#home" aria-controls="home" role="tab" data-toggle="tab">购买记录</a>
			</li>
		</ul>
	
		<!-- Tab panes -->
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="home">还没有人购买过此商品</div>
		</div>
	</div>


	<div role="tabpanel" style="margin:100px 0;">
		<!-- Nav tabs -->
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active">
				<a href="#home" aria-controls="home" role="tab" data-toggle="tab">商品评论</a>
			</li>
		</ul>
	
		<!-- Tab panes -->
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="home">
				<ul class="list-group">
					<if condition="!empty($list)">
						<foreach name="list" item="item">
							<li class="list-group-item">
								 <img src="__PUBLIC__/img/stars{$item.comment_rank}.gif" class="pull-right" alt="image">
									<p><strong>{$item.username|default="匿名用户"}</strong> <span style="color:#999;">({$item.add_time|date="Y-m-d H:i", ###})</span></p>
									<p>{$item.content|htmlspecialchars}</p>
							</li>					
					 </foreach>
					 <else/>
							<li class="list-group-item">
								没有相关评论
							</li>
				 </if>
				 <li class="list-group-item">{$page}</li>
				</ul>
			</div>
		</div>
		
		<div class="remark-box">
				<div class="alert alert-danger alert-comment hidden">					
				</div>					
				<form action="{:U('Comment/addComment')}" name="formComment" method="POST" class="form-horizontal remark-form" role="form">
						<div class="form-group">
							<legend>发表评论</legend>
						</div>
			             
						<div class="form-group">
					    <label for="inputEmail3" class="col-sm-2 control-label">用户名：</label>
					    <div class="col-sm-10">
					    	<span style="position:relative;top:6px;"><if condition="is_login()">{$Think.session.user_auth.username}<else/>匿名用户</if></span>
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="inputPassword3" class="col-sm-2 control-label">E-mail：</label>
					    <div class="col-sm-10">
					      <input type="text" class="form-control" name="email" value="{$email}" id="inputPassword3">
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="inputPassword3" class="col-sm-2 control-label">评价等级：</label>
					    <div class="col-sm-10">
					      <label class="radio-inline">
								  <input type="radio" name="comment_rank" value="1">
								  <img src="__PUBLIC__/img/stars1.gif" alt="">
								</label>
								<label class="radio-inline">
								  <input type="radio" name="comment_rank" value="2">
								  <img src="__PUBLIC__/img/stars2.gif" alt="">

								</label>
								<label class="radio-inline">
								  <input type="radio" name="comment_rank" value="3">
								  <img src="__PUBLIC__/img/stars3.gif" alt="">

								</label>
								<label class="radio-inline">
								  <input type="radio" name="comment_rank" value="4">
								  <img src="__PUBLIC__/img/stars4.gif" alt="">

								</label>
								<label class="radio-inline">
								  <input type="radio" name="comment_rank" value="5" checked>
								  <img src="__PUBLIC__/img/stars5.gif" alt="">
								</label>
					    </div>
					  </div>
						
						<div class="form-group">
					    <label for="inputEmail3" class="col-sm-2 control-label">评论内容：</label>
					    <div class="col-sm-10">
					    		<textarea name="content" id="input" class="form-control" rows="3"></textarea>
					    </div>
					  </div>
						
						<if condition="isset($captcha_on)">
							<div class="form-group">
						    <label for="inputPassword3" class="col-sm-2 control-label">验证码：</label>
						    <div class="col-sm-10">
						      <input type="text"  name="vcode">
									<img style="width:180px;height:100px;cursor:pointer;" id="verify" src="{:U('Index/getVerifyCode', array('id'=>1))}">
						    </div>
						  </div>
					 </if>
					  <div class="form-group">
					    <div class="col-sm-offset-2 col-sm-10">
					      <input type="hidden" name="reply_id" value="{$good.id}">
					      <input type="hidden" name="cmt_type" value="{$cmt_type}">
					      <button type="submit" class="btn btn-primary">提交评论</button>
					    </div>
					  </div>
				</form>
		</div>
	</div>
	
</block>

<block name="script">
	<script>
		$(function(){
			$('#verify').on('click', function(){
				 if(this.src.indexOf('?' > 0)) {
				 	  this.src = this.src.replace(/\?.*/, '') + '?' + Math.random();
				 }else {
				 	  this.src += '?' + Math.random();
				 }
			});

			$('form[name=formComment]').on('submit', function(){
				 var data = {};
				 data.content = this.elements['content'].value;
				 data.comment_rank = this.elements['comment_rank'].value; 
				 data.reply_id = this.elements['reply_id'].value;
				 data.email = this.elements['email'].value;
				 data.comment_type = this.elements['cmt_type'].value;
				 if(this.elements['vcode'] ) {
				 	if(this.elements['vcode'].value !='') {
				 		data.vcode = this.elements['vcode'].value;
				 	}else {
				 		alert('验证码不得为空');
				        return false;
				 	}
				 }
				   
				 if(!/^[a-zA-Z]+[a-zA-Z0-9_]+\@[a-zA-Z]+[a-zA-Z0-9_](\.com|\.cn|\.edu|\.gov)+$/.test(data.email)) {
				 	alert('邮箱错误');
				    return false;
				 }
				 if(data['content'] == '') {
				 	alert('评论内容不得为空!');
				    return false;
				 }
				 $.post($(this).attr('action'), data, comtResponse);
				 return false;
			});

			function comtResponse(response)
			{
				if(response.status == 0) {
					var html = `<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>`;
					for(var i=0, len= response.msg.length;i<len;i++) {
						html += '<strong>'+response.msg[i]+'</strong>';
					}
					$('.alert-comment').removeClass('hidden').addClass('show').html(html);
				}else {
					alert(response.msg);
				}
			}

		})
	</script>
</block>

